<!-- templates/gallery/index.html.twig -->
{% extends 'base.html.twig' %}

{% block title %}Photo Gallery{% endblock %}

{% block body %}
  <div class="gallery-container">
    {% for photo in photos %}
      <div class="gallery-item" onclick="openLightbox('{{ asset('path/to/photos/' ~ photo.filename) }}')">
        <img src="{{ asset('path/to/photos/' ~ photo.filename) }}" alt="{{ photo.caption }}">
      </div>
    {% endfor %}
  </div>

  <div class="lightbox" id="lightbox">
    <span class="lightbox-close" onclick="closeLightbox()">&times;</span>
    <img id="lightbox-image" src="" alt="">
  </div>

  <script>
    function openLightbox(imageSrc) {
      document.getElementById('lightbox-image').src = imageSrc;
      document.getElementById('lightbox').classList.add('fade-in');
      document.getElementById('lightbox').style.display = 'flex';
    }

    function closeLightbox() {
      document.getElementById('lightbox').classList.remove('fade-in');
      setTimeout(() => {
        document.getElementById('lightbox').style.display = 'none';
      }, 500);
    }
  </script>
{% endblock %}

