<!-- templates/base.html.twig -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">
    <!-- Ajoutez d'autres liens vers des styles si nécessaire -->
  <!-- Lien vers le fichier de débogage -->
    <script src="{{ asset('assets/js/debug.js') }}"></script>
    <!-- Liens vers des scripts JS -->
<script src="{{ asset('/assets/js/script.js') }}"defer></script>
    <!-- Ajoutez d'autres liens vers des scripts si nécessaire -->
    
    <!-- Incluez ici d'autres balises meta, link, etc. selon vos besoins -->
</head>
<body>
    <!-- Contenu de la page -->
    {% block body %}{% endblock %}

    <!-- ... autres balises script et balises de fermeture du corps ... -->
</body>
</html>


